/* Styles for the forgot password container */
.container.forgotPassword-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles for the page title */
.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Styles for the back button */
.back-btn {
  font-size: 20px;
  cursor: pointer;
  color: dodgerblue;
  text-decoration: none;
}

/* Styles for the form */
.form-group {
  text-align: center;
}

/* Styles for input fields */
.form-control {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styles for the submit button */
.btn.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
