/* Styles for the register container */
.container.registerForm-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles for the page title */
.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Styles for the form */
.form-group {
  text-align: center;
}

/* Styles for input fields */
.form-control {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styles for the register button */
.btn.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for links and paragraphs */
p {
  text-align: center;
  margin: 10px 0;
}

/* Styles for the "Login" link */
a {
  text-decoration: none;
  color: dodgerblue;
  cursor: pointer;
}

/* Hover effect for links */
a:hover {
  text-decoration: underline;
}

/* Add styles for the toast-like alert */
#toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.hidden {
  display: none;
}

#toast.show {
  opacity: 1;
}
